<div class="container">
  <header>
    <h1>Quizz Service</h1>
    <nav>
      <a routerLink="/quizzes" routerLinkActive="active">Lista Quizów</a>
      <a routerLink="/create-quiz" routerLinkActive="active">Stwórz Nowy Quiz</a>
      <a routerLink="/statistics" routerLinkActive="active">Statystyki</a>

      <ng-container *ngIf="isAuthenticated; else loginLink">
        <div class="user-info">
          <span class="username">{{username}}</span>
          <button (click)="logout()" class="logout-button">Wyloguj</button>
        </div>
      </ng-container>
      <ng-template #loginLink>
        <a routerLink="/login" routerLinkActive="active" class="user-icon">
          <i class="fas fa-user"></i>
        </a>
      </ng-template>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>